.subreddit-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.subreddit-name:hover {
  color: #ff4500;
}

.side-nav-header h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}