<h2>{{ title }}</h2>
<h2>{{ after }}</h2>
<div *ngFor="let post of posts; let i = index" class="post">
  <div class="flex" *ngIf="i + 1 === posts.length" #lastPost>
    <img src="{{ post.data.thumbnail }}" alt="thumbnail" class="thumbnail" />
    <div class="title-container">
      <h3 class="title-date">
        posted in {{ post.data.subreddit_name_prefixed }} on
        {{ post.data.created_utc * 1000 | date:'short' }}
      </h3>
      <a target="_blank" href="https://www.reddit.com{{ post.data.permalink }}">
        <h2 class="title">{{ post.data.title }}</h2>
      </a>
    </div>
  </div>
  <div class="flex" *ngIf="i + 1 !== posts.length">
    <img src="{{ post.data.thumbnail }}" alt="thumbnail" class="thumbnail" />
    <div class="title-container">
      <h3 class="title-date">
        posted in {{ post.data.subreddit_name_prefixed }} on
        {{ post.data.created_utc * 1000 | date:'short'}}
      </h3>
      <a target="_blank" href="https://www.reddit.com{{ post.data.permalink }}">
        <h2 class="title">{{ post.data.title }}</h2>
      </a>
    </div>
  </div>
</div>
