.post {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    width: 50%;
}

.subreddit-name {
    color: #ff4500;
}
.title-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}
a {
    text-decoration: none;
    text-align: justify;
    color: #000;
}

a:hover {
    color: #ff4500;
}

.title-date {
    font-size: 0.8em;
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.thumbnail {
    width:50%
}

@media(min-width: 320px) and (max-width: 1024px) {

    a {
        text-align: start;
        margin-top: 1rem;
    }
    
    
}

@media(max-width: 768px) {
    
    .post {
        width: 70%;
        flex-wrap: wrap;
    }
    
}